@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vej, By, Post nr.<br />
    <abbr title="Telefon">Tlf:</abbr>
    +4588888888
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
